[Unit]
Description=Start OpenPLC_v3

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/sh /etc/start_openplc.sh
Type=simple
User=root
Group=root
WorkingDirectory=/home/vhp
Restart=on-failure